<web-app version="3.1">
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<description></description>
		<servlet-name>HijoServlet</servlet-name>
		<display-name>HijoServlet</display-name>
		<servlet-class>com.pumbank.servlet.HijoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PadreServlet</display-name>
		<servlet-name>PadreServlet</servlet-name>
		<servlet-class>com.pumbank.servlet.PadreServlet</servlet-class>
	</servlet>

	<servlet>
		<display-name>TransferenciaServlet</display-name>
		<servlet-name>TransferenciaServlet</servlet-name>
		<servlet-class>com.pumbank.servlet.TransferenciaServlet
		</servlet-class>
	</servlet>
	<servlet>
		<display-name>PagaServlet</display-name>
		<servlet-name>PagaServlet</servlet-name>
		<servlet-class>com.pumbank.servlet.PagaServlet</servlet-class>
	</servlet>

	<servlet>
		<description>
		</description>
		<display-name>CongelarServlet</display-name>
		<servlet-name>CongelarServlet</servlet-name>
		<servlet-class>com.pumbank.servlet.CongelarServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HijoServlet</servlet-name>
		<url-pattern>/hijo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PadreServlet</servlet-name>
		<url-pattern>/padre</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>TransferenciaServlet</servlet-name>
		<url-pattern>/transferencia</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>PagaServlet</servlet-name>
		<url-pattern>/paga</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CongelarServlet</servlet-name>
		<url-pattern>/congelar</url-pattern>
	</servlet-mapping>

</web-app>
